BOT_TOKEN=
ADMIN_IDS=
REQUIRED_CHANNEL_ID=
REQUIRED_CHANNEL_URL=
FAQ_URL=

#3x-ui panel
PANEL_HOST=
PANEL_BASE_PATH=
PANEL_PORT=2053
PANEL_USER=
PANEL_PASS=
INBOUND_ID=1       
INBOUND_MOBILE_ID=2

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET=
CRYPTOBOT_TOKEN=
DATABASE_URL=

REDIS_URL=redis://localhost:6379/0
FOR_VERCEL_DATABASE_URL=
MINI_APP_URL=https://escapethematrix.to/miniapp
INTERNAL_API_PORT=
INTERNAL_SECRET=

