# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
__pycache__
*__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environment
venv/
.venv/
env/
ENV/

# Logs
*.log
logs/

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
README.local.md
*.md